@import url('https://font.googleapis.com/css?family=Montserrat:400,800');
*{
    box-sizing: border-box;
}
.formulario{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f6f5f7;
    font-family: 'monserrat', sans-serif;
    min-height: 100%;
    margin: 10%;
}
.container-form{
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px  28px rgba(0,0,0,0.25),
                0 10px 28px rgba(0,0,0,0.22);
}

.sign-up, .sign-in{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6 ease-in-out;
}
.sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.sign-in{
    width: 50%;
    z-index: 2;
}
form{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    text-align: center;
}
.titleform{
    font-weight: bold;
    margin: 0;
}
.parr{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px;
}
.inputlog{
    background: #eee;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}
.social{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.logandreg{
    color: #fff;
    background: #00db0b;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid #beff0c;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 80ms ease-in;
    cursor: pointer;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    
}
.button:active{
    transform: scale(0.90);
}
#signIn, #signUp{
    background-color: transparent;
    border: 2px solid #fff;
}

.container-form.right-panel-active .sign-in{
    transform: translateX(100%);
}
.container-form.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.container-form.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.overlay{
    position: relative;
    color: #fff;
    background: #ff416c;
    left: -100%;
    height: 100%;
    width: 200%;
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFE000, #799F0C, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFE000, #799F0C, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container-form.right-panel-active .overlay{
    transform: translateX(50%);
}

.overlay-left, .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-left{
    transform: translateX(-20%);
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}

.container-form.right-panel-active .overlay-left{
    transform: translateX(0);
}

.container-form.right-panel-active .overlay-right{
    transform: translateX(20%);
}

.social-container{
    margin: 20px 0;
}

.social-container .social{
    height: 40px;
    width: 40px;
    margin: 0 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50%;
}
